# Maven / Spring Boot Microservices .gitignore
target/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*
replay_pid*
.mvn/wrapper/maven-wrapper.jar
dependency-reduced-pom.xml
bin/
out/
.spring-beans
.idea/
*.iml
